.main-area {
    --cell-size: 20px;
}

.game-area {
    margin: 10px;
}

.cell {
    display: inline-block;
    width: var(--cell-size);
    height: var(--cell-size);
    line-height: var(--cell-size);
    border: 1px solid;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

.row-cells {
    font-size: 1px;
}